<?xml version="1.0" ?>
<launch>
    <arg name="point_cloud_topic" default="/sensors/velodyne_points" doc="Point cloud topic to subscribe to" />
    <arg name="use_nodelets"    default="$(optenv USE_NODELETS false)" />
    <arg name="nodelet_manager" default="$(optenv NODELET_MANAGER core_nodelet_manager)" />

    <![CDATA[
    <!--
          FOR DEBUGGING: add to node tag: launch-prefix="gnome-terminal -x gdb --args"
          additionally add <param name="/bond_disable_heartbeat_timeout" value="true" /> to debug nodelets
          launch-prefix="valgrind --leak-check=yes"
    -->
    ]]>

    <remap from="/sensors/velodyne_points" to="$(arg point_cloud_topic)" />

    <!-- start standalone node -->
    <node unless="$(arg use_nodelets)"
          pkg="groundgrid"
          name="groundgrid"
          type="groundgrid_node"
          >
    </node>

    <!-- start nodelet (nodelet manager needed, see below) -->
    <node if="$(arg use_nodelets)"
          pkg="nodelet"
          type="nodelet"
          name="groundgrid"
          args="load groundgrid/Nodelet $(arg nodelet_manager)"
    >
    </node>

    <!-- start nodelet manager, if not already started from outside of this launch file -->
    <node if="$(arg use_nodelets)"
        pkg="nodelet"
        type="nodelet"
        name="$(arg nodelet_manager)"
        args="manager"
    >
        <param name="num_worker_threads" value="64" />
    </node>

</launch>
